/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v22-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v22-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v22-latin-700.woff2") format("woff2"), url("../fonts/raleway-v22-latin-700.woff") format("woff"), url("../fonts/raleway-v22-latin-700.ttf") format("truetype"), url("../fonts/raleway-v22-latin-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin_cyrillic-ext-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-ext-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin_cyrillic-ext-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-ext-regular.woff") format("woff"), url("../fonts/roboto-v27-latin_cyrillic-ext-regular.ttf") format("truetype"), url("../fonts/roboto-v27-latin_cyrillic-ext-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v27-latin_cyrillic-ext-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-ext-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin_cyrillic-ext-500.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-ext-500.woff") format("woff"), url("../fonts/roboto-v27-latin_cyrillic-ext-500.ttf") format("truetype"), url("../fonts/roboto-v27-latin_cyrillic-ext-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v27-latin_cyrillic-ext-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-ext-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin_cyrillic-ext-700.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-ext-700.woff") format("woff"), url("../fonts/roboto-v27-latin_cyrillic-ext-700.ttf") format("truetype"), url("../fonts/roboto-v27-latin_cyrillic-ext-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v27-latin_cyrillic-ext-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-ext-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin_cyrillic-ext-900.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-ext-900.woff") format("woff"), url("../fonts/roboto-v27-latin_cyrillic-ext-900.ttf") format("truetype"), url("../fonts/roboto-v27-latin_cyrillic-ext-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

.hero__button, .subscribe-form .button-subscribe, .project-filter__button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  color: white;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  border-radius: 1px solid transparent;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border: none;
  cursor: pointer;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: white;
  color: #757575;
}

body.modal-open {
  overflow: hidden;
}

body.menu-open {
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .container--header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .container--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: relative;
  border-bottom: 1px solid;
  border-color: #ececec;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 60px;
}

.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__header {
  color: black;
}

.logo__footer {
  color: white;
}

.logo--header {
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .logo--header {
    padding: 26px 0;
  }
}

@media screen and (min-width: 1200px) {
  .logo--header {
    padding: 24px 0;
  }
}

.logo--footer {
  display: block;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .logo--footer {
    text-align: center;
  }
}

.main-nav__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    margin-left: 88px;
  }
  .main-nav__list .main-nav__item:not(:nth-child(1)) {
    margin-left: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav__list {
    margin-left: 93px;
  }
}

.main-nav__link {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    color: #212121;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .main-nav__link:hover, .main-nav__link:focus {
    color: #2196f3;
  }
  .main-nav__link--current {
    position: relative;
    color: #2196f3;
  }
}

.main-nav__link--current::after {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-nav__link--current::after {
    position: absolute;
    bottom: -1px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #2196f3;
  }
}

.header-contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-contacts__item:not(:last-child) {
    margin-bottom: 0;
  }
  .header-contacts__item:not(:nth-child(1)) {
    margin-left: 50px;
  }
}

.header-contacts__link {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts__link:hover, .header-contacts__link:focus {
    color: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.header-contacts__icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contacts__icon {
    display: inline-block;
    margin-right: 8px;
    fill: currentColor;
  }
  .header-contacts__icon--email {
    width: 14px;
    height: 10px;
  }
  .header-contacts__icon--tel {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__icon {
    margin-right: 10px;
  }
  .header-contacts__icon--email {
    width: 16px;
    height: 12px;
  }
  .header-contacts__icon--tel {
    height: 16px;
  }
}

.main-nav__menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .main-nav__menu.is-open {
    display: block;
    padding: 48px 40px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
  }
}

.menu-navigation {
  margin-bottom: auto;
}

.menu-contacts__list {
  margin-bottom: 64px;
}

.menu-navigation__item,
.menu-contacts__item:not(:last-child) {
  margin-top: 0;
  margin-bottom: 32px;
}

.menu-navigation__link,
.menu-contacts__link,
.networks-menu__link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.menu-navigation__link {
  font-size: 40px;
  color: #212121;
  line-height: 1.18;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-navigation__link:hover, .menu-navigation__link:focus {
  color: #2196f3;
}

.menu-navigation__link--current {
  color: #2196f3;
}

.menu-contacts__link {
  line-height: 1.18;
}

.menu-contacts__link--tel {
  font-size: 34px;
  color: #2196f3;
}

.menu-contacts__link--mail {
  font-size: 24px;
  color: #757575;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contacts__link--mail:hover, .menu-contacts__link--mail:focus {
  color: #2196f3;
}

.networks-menu__link {
  color: #2196f3;
  font-size: 18px;
  line-height: 1.22;
}

.networks-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.networks-menu__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
  padding-right: 10px;
}

/* Button-menu-mobil*/
.button__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
}

.button__menu:hover, .button__menu:focus {
  fill: #2196f3;
  outline: transparent;
}

@media screen and (min-width: 768px) {
  .button__menu {
    display: none;
  }
}

.button__menu .button__menu--cross {
  display: none;
}

.button__menu.is-open .button__menu--cross {
  display: block;
}

.button__menu.is-open .button__menu--strips {
  display: none;
}

.hero {
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header img.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c4c4c4;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header img@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header img@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header768 img.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header768 img.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header768 img@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header768 img@2x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header1200 img.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header1200 img.jpg");
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header1200 img@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header1200 img@2x.jpg");
  }
}

/* Main-Title*/
.hero__title {
  width: 360px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  color: white;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 3%;
}

@media screen and (min-width: 768px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.check {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .check {
    padding-left: 12px;
  }
}

.check__inbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check__box {
  display: inline-block;
  width: 16px;
  height: 15px;
  padding-left: 12px;
  margin-right: 8.38px;
  border: 1px solid #212121;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check__box, .check__text:hover {
  cursor: pointer;
}

.check__text {
  color: #757575;
}

.modal-form__link {
  color: #2196f3;
}

.check__inbox:focus + .check__box {
  border: 2px solid #212121;
}

.check__inbox:checked + .check__box {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url("../images/icon check.svg");
  background-size: contain;
  background-origin: border-box;
}

.backdrop {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 450px;
  min-height: 609px;
  background-color: white;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/* Modal_form */
.modal-form {
  padding: 40px;
}

.modal-form__title {
  margin-top: 0;
  margin-bottom: 12px;
  color: #212121;
  text-align: center;
}

.modal-form__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modal-form__label .form-comment {
  margin-bottom: 20px;
}

.modal-form__mark {
  margin-bottom: 4px;
  color: #757575;
}

.modal-form__input {
  width: 100%;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover {
  cursor: pointer;
}

.modal-form__input:focus {
  border-color: #2196f3;
  outline: transparent;
  cursor: pointer;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__comment textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea:hover {
  cursor: pointer;
}

.modal-form__textarea:focus {
  border-color: #2196f3;
  outline: transparent;
  cursor: pointer;
}

textarea {
  resize: none;
}

/* Modal_button */
.modal__button--close {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.modal__button--close svg {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button--close:focus svg,
.modal__button--close:hover svg {
  fill: #2196f3;
}

/* Modal_button_send */
.modal__button--send {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px 10px 56px;
  color: white;
  background-color: #2196f3;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
}

.section-advantage {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .section-advantage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .section-advantage {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .section-advantage__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media screen and (min-width: 768px) {
  .section-advantage__item {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .section-advantage__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.section-advantage__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .section-advantage__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-advantage__item:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
}

.section-advantage__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.section-advantage__subtitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .section-advantage__subtitle {
    text-align: start;
  }
}

.section-working {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-working {
    display: block;
  }
}

.section-working {
  margin-bottom: 0;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  text-align: center;
}

.section-working__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-working__item {
  position: relative;
  width: 370px;
  margin-right: 30px;
}

.section-working__item:nth-child(3n) {
  margin-right: 0;
}

.section-working__paragraph {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  padding-top: 27px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: white;
}

.section-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .section-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}

.section-team__item {
  text-align: center;
  background: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 450px;
}

@media screen and (min-width: 768px) {
  .section-team__item {
    width: calc(100% / 2 - 30px);
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-team__item {
    width: calc(100% / 4 - 30px);
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 767px) {
  .section-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-team__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-team__item:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
}

.section-team__foto {
  margin-bottom: 30px;
}

.section-team__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
}

.section-team__profession {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
}

.section-team__networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 24px;
}

.section-team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team__link:not(:last-child) {
  margin-right: 10px;
}

.section-team__link:hover,
.section-team__link:focus {
  background-color: #2196f3;
}

.section-team__link .section-team__icon {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team__link:hover .section-team__icon,
.section-team__link:focus .section-team__icon {
  fill: white;
}

.section-team__icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

.section-customers {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .section-customers__list {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.section-customers__item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc(100% / 2 - 15px);
}

@media screen and (min-width: 768px) {
  .section-customers__item {
    width: calc(100% / 3 - 30px);
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .section-customers__item {
    width: calc(100% / 6 - 30px);
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 767px) {
  .section-customers__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-customers__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-customers__item:nth-child(6n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .section-customers__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-customers__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-customers__item:nth-last-child(-n + 6) {
    margin-bottom: 0;
  }
}

.section-customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  border: 1px solid;
  border-radius: 4px;
  border-color: #afb1b8;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-customers__link:hover, .section-customers__link:focus {
  border-color: #2196f3;
  outline: transparent;
}

.section-customers__link .section-customers__icon {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-customers__link:hover .section-customers__icon,
.section-customers__link:focus .section-customers__icon {
  fill: #2196f3;
}

.section-customers__icon {
  fill: #afb1b8;
}

@media screen and (max-width: 767px) {
  .networks {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .networks {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .networks {
    margin-left: 70px;
  }
}

.networks__content {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: white;
}

.networks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .networks-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.networks-list__item {
  width: 44px;
  height: 44px;
}

.networks-list__item:not(:last-child) {
  margin-right: 10px;
}

.networks-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.networks-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.networks-list__link:hover, .networks-list__link:focus {
  background-color: #2196f3;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .address-footer {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .address-footer {
    text-align: center;
  }
}

.address-footer__address {
  margin-bottom: 8px;
  color: white;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .address-footer__address {
    margin-bottom: 9px;
  }
}

.contact-footer__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .contact-footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.contact-footer__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 1199px) {
  .subscribe {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
  }
}

.subscribe__content {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: white;
}

@media screen and (min-width: 768px) {
  .tablet-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .tablet-footer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscribe-form__input {
  margin-bottom: 20px;
  padding: 16px;
  width: 100%;
  max-width: 450px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #757575;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.subscribe-form__input__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe-form__input__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe-form__input__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe-form__input__input::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe-form .button-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 28px;
  padding-left: 28px;
}

@media screen and (max-width: 1199px) {
  .subscribe-form .button-subscribe {
    margin-left: auto;
    margin-right: auto;
  }
}

.subscribe-form .button__icon {
  fill: white;
  margin-left: 10px;
}

.section-projects {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-projects {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.project-filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .project-filter__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .project-filter__list {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .project-filter__list {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .project-filter__element {
    margin-bottom: 15px;
  }
}

.project-filter__element:not(:last-child) {
  margin-right: 8px;
}

.project-filter__button {
  padding: 6px 22px;
  min-width: 73px;
  min-height: 38px;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-filter__button:hover, .project-filter__button:focus {
  color: white;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: transparent;
}

@media screen and (min-width: 768px) {
  .project-card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .project {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .project {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

.project__content {
  padding: 20px 24px;
}

.project__name {
  margin-top: 0;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__category {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

@media screen and (max-width: 767px) {
  .project:not(:last-child) {
    margin-bottom: 30px;
  }
}

.project__link {
  display: block;
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: transparent;
  height: 100%;
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translatey(0);
          transform: translatey(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover .project__overlay,
.project__link:focus .project__overlay {
  -webkit-transform: translatey(-100%);
          transform: translatey(-100%);
}

.project__description {
  padding: 77px 24px;
  margin: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

@media screen and (min-width: 768px) {
  .project__description {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .project__description {
    padding: 64px 24px;
  }
}
/*# sourceMappingURL=main.css.map */