.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footerBcgColor;
  //color: $primaryWhiteColor;
}

.address-footer {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  &__address {
    margin-bottom: 8px;
    color: $primaryWhiteColor;
    font-weight: $primaryFontWeight;
    font-style: normal;
    text-decoration: none;

    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
}

.contact-footer {
  &__item:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }

  &__link {
    color: $footerLinkColor;
    text-decoration: none;
    font-style: normal;
    font-weight: $primaryFontWeight;
  }
}
