.page-header {
  position: relative;
  border-bottom: 1px solid;
  border-color: $borderBottomCcolor;
}

@media screen and (min-width: 768px) {
  .menu__list {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 768px) {
  .page-header__nav {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }
}
