@media screen and (min-width: 768px) {
  .portfolio-card__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio-card__element {
  width: 450px;
}

.portfolio-card__element:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio-card__element {
    width: 354px;
    margin-right: 15px;
    margin-left: 15px;
  }
}
.portfolio-card__link {
  display: block;
  text-decoration: none;
  @include transitions(box-shadow);
}

.portfolio-card__link:hover,
.portfolio-card__link:focus {
  box-shadow: $boxShadovPortfolio;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  @include transitions(transform);
  background-color: $accentColor;
  opacity: 0;
}

.portfolio-card__link:focus .overlay__text {
  transform: translateY(0);
  opacity: 1;
}

.overlay__text p {
  @include mainFont($size: 18px, $lh: 1.56);
  margin-top: 0;
  margin-bottom: 0;
  padding: 77px 24px;
  color: $primaryWhiteColor;
}

.portfolio-card__content {
  padding: 20px 24px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-color: $borderBottomCcolor;
}

.portfolio-card__title {
  margin-top: 0;
  margin-bottom: 0;
  @include mainFont(700, 18px, 2, 0.06em);
  color: $titleTextColor;
}

.portfolio-card__paragraph {
  margin-top: 0;
  margin-bottom: 0;
  @include mainFont($size: 16px, $lh: 1.88);
}
