.section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio-filter__list {
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .portfolio-filter__list {
    justify-content: center;
  }
}

.portfolio-filter__element {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .portfolio-filter__element {
    margin-bottom: 30px;
  }
}

.portfolio-filter__element:not(:last-child) {
  margin-right: 8px;
}
