.section-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $sectionColor;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .section-team__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}

.section-team__item {
  text-align: center;
  background: $primaryWhiteColor;
  box-shadow: $boxShadovCard;
  border-radius: 0px 0px 4px 4px;
  width: 450px;

  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 767px) {
  .section-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-team__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-team__item:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
}

.section-team__foto {
  margin-bottom: 30px;
}

.section-team__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  color: $titleTextColor;
  font-weight: $secondaryFontWeight;
  font-size: $buttonTeamProjectFontSize;
  line-height: 1.17;
}

.section-team__profession {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: $primaryFontWeight;
  font-size: $buttonTeamProjectFontSize;
  line-height: 1.17;
}

.section-team__networks {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.section-team__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  @include transitions(background-color);
}

.section-team__link:not(:last-child) {
  margin-right: 10px;
}

.section-team__link:hover,
.section-team__link:focus {
  background-color: $accentColor;
}

.section-team__link .section-team__icon {
  @include transitions(fill);
}

.section-team__link:hover .section-team__icon,
.section-team__link:focus .section-team__icon {
  fill: $primaryWhiteColor;
}

.section-team__icon {
  fill: $iconColor;
  width: 20px;
  height: 20px;
}
