/* Button-menu-mobil*/

.button__menu {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;

  &:hover,
  &:focus {
    fill: $accentColor;
    outline: transparent;
  }
}
@media screen and (min-width: 768px) {
  .button__menu {
    display: none;
  }
}

.button__menu .button__menu--cross {
  display: none;
}

.button__menu.is-open .button__menu--cross {
  display: block;
}

.button__menu.is-open .button__menu--strips {
  display: none;
}

/* Hero__button */

.hero__button {
  display: inline-block;
  padding: 10px 32px;
  @include mainFont(700, 16px, 1.88, 0.06em);
  color: $primaryWhiteColor;
  background-color: $accentColor;
  border-radius: $borderRadiusMain;
  border: $borderButton;
  cursor: pointer;
}

/* Footer_button*/

.page-footer__button {
  display: inline-flex;
  padding: 10px 28px 10px 29px;
  @include mainFont(700, 16px, 1.88, 0.06em);
  color: $primaryWhiteColor;
  background-color: $accentColor;
  border-radius: $borderRadiusMain;
  border: $borderButton;
  cursor: pointer;
}

/* Icon within button */

.page-footer__icon--send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: $primaryWhiteColor;
}

/* Modal_button */

.modal__button--close {
  position: absolute;
  display: inline-flex;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid $buttonCloseBorder;
  border-radius: 50%;
  background-color: $primaryWhiteColor;
  cursor: pointer;
}

.modal__button--close svg {
  @include transitions(fill);
}

.modal__button--close:focus svg,
.modal__button--close:hover svg {
  fill: $accentColor;
}

/* Modal_button_send */

.modal__button--send {
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px 10px 56px;
  @include mainFont(700, 16px, 1.88, 0.06em);
  color: $primaryWhiteColor;
  background-color: $accentColor;
  border-radius: $borderRadiusMain;
  border: $borderButton;
  cursor: pointer;
}

/* Button_portfolio */

.portfolio-filter__button {
  display: inline-block;
  padding: 6px 22px;
  @include mainFont(500, 16px, 1.63, 0.03em);
  color: $titleTextColor;
  background-color: $sectionColor;
  border: none;
  border-radius: $borderRadiusMain;
  cursor: pointer;
  @include transitions(color, background-color, box-shadow);
}

.portfolio-filter__button:hover,
.portfolio-filter__button:focus {
  color: $primaryWhiteColor;
  background-color: $accentColor;
  box-shadow: $boxShadovButton;
}
