$primaryTextColor: rgba(117, 117, 117, 1);
$titleTextColor: rgba(33, 33, 33, 1);
$accentColor: rgba(33, 150, 243, 1);
$primaryWhiteColor: rgba(255, 255, 255, 1);
$footerBcgColor: rgba(47, 48, 58, 1);
$sectionColor: rgba(245, 244, 250, 1);
$iconColor: rgba(175, 177, 184, 1);
$sectionBcgElement: rgba(47, 48, 58, 0.8);
$footerLinkColor: rgba(255, 255, 255, 0.6);
$footerBcgNetwork: rgba(255, 255, 255, 0.1);
$footerInputBorderColor: rgba(255, 255, 255, 0.3);
$backdropBcgColor: rgba(0, 0, 0, 0.2);
$buttonCloseBorder: rgba(0, 0, 0, 0.1);
$modalInputBorder: rgba(33, 33, 33, 0.2);
$modalPlaceholderColor: rgba(117, 117, 117, 0.5);
$logoHederColor: rgba(0, 0, 0, 1);
$borderBottomCcolor: rgba(236, 236, 236, 1);
$heroBcgColor: rgba(196, 196, 196, 1);
$mainFontFamily: Roboto, sans-serif;
$logoFontFamily: Raleway, sans-serif;
$gradient: rgba(47, 48, 58, 0.4);
$boxShadovColorChek: rgba(0, 0, 0, 0.25);

$borderRadiusMain: 4px;
$borderButton: 1px solid transparent;

$boxShadovCard: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$boxShadovPortfolio: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
$boxShadovButton: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
